Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.19
PyYAML==3.11
Werkzeug==0.9.4
distribute==0.6.49
gunicorn==18.0
itsdangerous==0.24
stevedore==0.13
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
